.group-left {
    width: 350px;
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: var(--color-c5);
    position: relative;
    background:
        radial-gradient(ellipse 80% 80% at 50% -20%,
            var(--color-c2),
            var(--color-c1));

    transition: left 0.5s ease-in-out, width 0.5s ease-in-out;


    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    z-index: 0;
}
.group{
    scrollbar-width: none; 
    -ms-overflow-style: none;
    overflow:hidden;
    position: absolute;
    top: 70px;
    width: 100%;
    
}
.group::-webkit-scrollbar {
    display: none;}
    
.group-left.hidden {
    border-right-width: 0px;
    left: -350px;

}

.group-left-ghost.hidden {
    transform: translateX(-100%);
    width: 0;
    border-right-width: 0px;

}

.group-left-ghost {
    width: 350px;
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
}

.group-top {
    height: 75px;
}

.group-main {
    background:
        radial-gradient(ellipse 80% 80% at 50% -20%,
            white,
            rgb(199, 179, 93));

    flex: 1;
    overflow:auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}
.group-main::-webkit-scrollbar {
    display: none;}

.close-left-button {
    width: 30px;
    height: 55px;
    position: absolute;

    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-c1);

    border: 3px solid var(--color-c5);
    border-left-width: 0px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}








.add-expense-button {
    position: fixed;
    top: 90%;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: var(--color-c5);
    border-radius: 20px;
    color: var(--color-c1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    font-size: large;
    border: 2px solid var(--color-c1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease, width 0.3s ease, right 0.3s ease;
}

.add-expense-button .fa-plus {
    font-size: 24px;
    transition: transform 0.3s ease;
}

.add-expense-button .button-text {
    display: none;
    position: absolute;
    left: 60px;
    color: var(--color-c1);
    font-size: 15px;
    text-align: left;
    white-space: nowrap;
    transition: left 0.3s ease;
}

.add-expense-button:hover {
    transform: scale(1.2);
    width: 140px;

    right: 50px;
}

.add-expense-button:hover .fa-plus {
    transform: translateX(-50px);
}

.add-expense-button:hover .button-text {
    display: block;
    left: 40px;
}


.group-grouplisttitle{
    border-bottom: 2px solid var(--color-c5);
    
}

.group-list-content{
    height: 80px;
    width: 300px;
    border-radius: 4px;
}

.group-image {
    width: 80px;
    height: 80px; 
    object-fit: cover; 
    border-radius: 4px;
}

.scroll-container {
    height: 100%;
    overflow-y: auto; 
}

.scroll-container::-webkit-scrollbar {
    width: 6px; 
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
}

.scroll-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}


